body {
   background-color: palegreen;
}

h1 {
    font-size: 30px;
    margin: 10px 0 30px 0;
}

h2 {
    font-size: 30px;
    margin: 10px 0 70px 0;
}

h3 {
    font-size: 30px;
    margin: 20px 0 30px 0;
}

ul, ol {
    margin-left: 55px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
      width: 20%;
}

td, th {
    border: 1px solid black;
    text-align: center;
    padding: 3px;
}



